* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6e2f0;
  gap: 2em
}
.qr-card{
  width: 15em;
  height: 23em;
  background-color: #ffffff;
  border-radius: 15px;
}
.image-container{
  padding: .8em;
  width: 100%;
  height: 15em;
  object-fit: cover;
}
.image-qrcode{
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.text-container{
  padding: 0 1.2em 1em 1em;
}
.text-container h3{
  font-size: 1em;
  text-align: center;
  color: #1f3251;
}
.text-container p{
  text-align: center;
  font-size: .75em;
  font-weight: 400;
  margin-top: .8em;
  color:  #7b879d;
}